
<div class="u-relative">
  <a href="#" class="u-absolute" {{action 'toggle'}}>
    <i {{bind-attr class=":fa task.isDone:fa-check-square-o:fa-square-o"}}></i>
  </a>
  <div class="listItemContent-task">
    <p>
      {{task.description}}
    </p>
    <div class="text-small text-light">
     {{task.user.email}}
    </div>
  </div>
  {{#if isBusy}}
    <div class="button-overlaid">
      <i class="fa fa-cog fa-spin"></i>
    </div>
  {{else}}
    <a href="#" class="button-overlaid" {{action 'destroy' task}}>
      <i class="fa fa-trash-o"></i>
    </a>
  {{/if}}
</div>
