
@import 'reset';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$gray: #999;
$light-gray: #e2e2e2;

html, body {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body, input, button {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.panel {
  width: 50%;
  height: 100%;
  float: left;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0.5rem 0 1rem rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem;
}

body > .ember-view {
  height: 100%;
}

.u-relative {
  position: relative;
}

.u-absolute {
  position: absolute;
}

input[type="text"], input[type="password"], button {
  border: 1px solid $light-gray;
  padding: 1rem;
}

ul {
  li {
    border-top: 1px solid $gray;
    input[type="text"] {
      width: 100%;
      margin: 0;
      line-height: 4rem;
      height: 4rem;
    }
  }
}

.button-overlaid {
  position: absolute;
  right: 0;
  top: 0;
  i {
    width: 2rem;
    height: 2rem;
    text-align: center;
  }
}


.text-light {
  color: $gray;
}

.text-small {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.text-medium {
  font-size: 1.8rem;
  line-height: 2rem;
}

.listItem-list {
  a, .button-overlaid { padding: 2rem; display: block; }
  a.active {
    background: $light-gray;
  }
}

.listItem-task {
  padding: 2rem;
}

.listItem-newEntry {
  padding: 1rem;
  margin: 0 0 4rem 0;
  .button-overlaid {
    padding: 1rem;
  }
}

.listItemContent-task {
  padding-left: 2rem;
}

.flash {
  transition: all 1s;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  .button-overlaid {
    padding: 1rem;
  }
  p {
    z-index: 10;
    position: relative;
    display: inline-block;
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem 4rem 1rem 1rem;
    max-width: 60%;
    overflow: hidden;
  }
}

.flash-fail {
  p, a {
    color: darken(#F00, 30%) !important;
  }
  p {
    background: lighten(#F00, 30%) !important;
  }
}

.flash-success {
  p, a {
    color: darken(#0F0, 30%) !important;
  }
  p {
    background: lighten(#0F0, 30%) !important;
  }
}

.flash-hidden {
  top: -100%;
}

a, a:active, a:link, a:visited {
  color: #333 !important;
}

.panel-login {
  width: 40rem;
  margin: 4rem auto;
  p {
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
  }
  button {
    width: 100%;
  }
}

.loader {
  text-align: center;
  color: $light-gray;
  margin: 2rem 0;
  i {
    display: inline-block;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
  }
  p {
    margin: 1rem 0;
  }
}
