<div class="panel">
  <h1>Lists</h1>
  <ul>
    {{#each list in lists}}
      {{#unless list.isNew}}
        {{item-list list=list destroyedAction='listDestroyed'}}
      {{/unless}}
    {{/each}}

    <li class="listItem-newEntry">
      <div class="u-relative">
        {{input type="text" value=title action='create' disabled=iBusy placeholder="Add New List"}}
        {{#if iBusy}}
          <div class="button-overlaid">
            <i class="fa fa-spinner"></i>
          </div>
        {{else}}
          <a href="#" class="button-overlaid" {{action 'create'}}>
            <i class="fa fa-plus-square-o"></i>
          </a>
        {{/if}}
      </div>
    </li>
  </ul>
</div>

{{outlet}}
