{{#link-to 'lists.show' list.id}}
  <div>{{list.title}}</div>
  <div class="text-small text-light">{{list.user.email}}</div>
{{/link-to}}

{{#if isBusy}}
  <div class="button-overlaid">
    <i class="fa fa-cog fa-spin"></i>
  </div>
{{else}}
  <a href="#" class="button-overlaid" {{action 'destroy' list}}>
    <i class="fa fa-trash-o"></i>
  </a>
{{/if}}
