<div class="panel">
  <h1>{{list.title}}</h1>
  {{#if list.tasks.isPending}}
    <div class="loader">
      <i class="fa fa-cog fa-spin"></i>
      <p>Loading...</p>
    </div>
  {{else}}
    <ul>
      {{#each task in list.tasks}}
        {{#unless task.isNew}}
          {{item-task task=task}}
        {{/unless}}
      {{/each}}

      <li class="listItem-newEntry">
        <div class="u-relative">
          {{input type="text" value=description action='create' disabled=isBusy placeholder="Add New Task"}}
          {{#if isBusy}}
            <div class="button-overlaid">
              <i class="fa fa-cog fa-spin"></i>
            </div>
          {{else}}
            <a href="#" class="button-overlaid" {{action 'create'}}>
              <i class="fa fa-plus-square-o"></i>
            </a>
          {{/if}}
        </div>
      </li>
    </ul>
  {{/if}}
</div>
