<div {{bind-attr class=":flash flash.show::flash-hidden flash.typeClass"}}>
  <p class="text-medium u-relative">
    {{flash.message}}
    <a href="#" {{action 'closeFlash'}} class="button-overlaid">
      <i class="fa fa-remove"></i>
    </a>
  </p>
</div>
{{#if auth.user}}
  {{outlet}}
{{else}}
  <div class="panel-login">
    <h1>Login</h1>
    <div class="form-login">
      {{#if auth.errors}}
        <ul>
          {{#each error in auth.errors}}
            <li>{{error}}</li>
          {{/each}}
        </ul>
      {{/if}}
      <p>
        {{input type="text" value=auth.email action='login' placeholder='E-Mail'}}
      </p>
      <p>
        {{input type="password" value=auth.password action='login' placeholder='Password'}}
      </p>
      <p>
        <button {{action 'login'}}>
          LOGIN
        </button>
      </p>
    </div>
  </div>
{{/if}}

